---
import Container from "@components/container.astro";


---

  <div class="mx-auto bg-blue-950 py-16 mt-16 text-center">
    <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-screen-sm">
      <h2 class="text-sm font-light underline-offset-8 uppercase underline text-white text-center">
        The Mission
      </h2>
      <div class="text-4xl text-red-500 uppercase text-center my-5" style="font-family:'Big Shoulders Display Variable', sans-serif">
        I have been a Lathrup Village resident since 2019. 
      </div>
      <p class=" leading-5  text-white">
        I have been a Lathrup Village resident since 2019. My wife and I moved here because we liked being close to everything, still in our own oasis, and most importantly, because of how great Lathrup Village is. I am running for City Council to do my best to make this great city even better. 
        <br />
        <br />
        As a father of a small child I want to represent the growing population of new parents and young professionals moving into Lathrup. I graduated from college with a double major in Math and Computer Science and currently work as an Engineer. I am great with numbers, budgets, and managing contracts. 
      </p>
    </div>
  </Countainer>
  </div>

  

