---
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={heroImage}
      alt="Astronaut in the air"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-red-700">
      It takes a Village!
    </h1>
    <p class="text-lg mt-4 text-slate-700 max-w-xl">
      I am running for City Council to do my best to make this great city even
      better. As a father of a small child I want to represent the growing
      population of new parents and young professionals moving into Lathrup.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-red-700 hover:bg-red-800"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-donate-heart" />
        Contribute to my campaign
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center border-red-700 text-red-700"
        target="_blank">
        <Icon class="text-red-700 w-4 h-4" name="teenyicons:bulb-on-solid" />
        Share your idea!
      </Link>
    </div>
  </div>
</main>
